[*.cs]

# IDE0005: Using directive is unnecessary.
dotnet_diagnostic.IDE0005.severity = suggestion

# CS0114: Member hides inherited member; missing override keyword
dotnet_diagnostic.CS0114.severity = none
